* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #007fff;
  --darkPrimary: #001933;
  --lightPrimary: #cce5ff;

  --white: #ffffff;
  --second: #66b2ff;
  --third: #004c99;
  --background: #f6f5f7;
  --shadow: 1px 1px 10px 1px var(--second);
  --text-shadow: 1px 1px 10px var(--second);
}

body {
  font-family: "Oswald", sans-serif;
  font-family: "Ubuntu", sans-serif;
  background: var(--background);
  height: 100vh;
}

button {
  border-radius: 20px;
  border: 1px solid var(--background);
  background-color: var(--primaryColor);
  color: var(--white);
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

button:active {
  transform: scale(1.1);
}

button:focus {
  outline: none;
}

form {
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  width: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  border-radius: 1rem;
}
h1 {
  color: var(--primaryColor);
}
