* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #007fff;
  --darkPrimary: #001933;
  --lightPrimary: #cce5ff;

  --white: #ffffff;
  --second: #66b2ff;
  --third: #004c99;
  --background: #f6f5f7;
  --shadow: 1px 1px 10px 1px var(--second);
  --text-shadow: 1px 1px 10px var(--second);
}

body {
  font-family: "Oswald", sans-serif;
  font-family: "Ubuntu", sans-serif;
  color: var(--white);
  background: linear-gradient(
    to right,
    var(--darkPrimary),
    var(--third),
    var(--primaryColor),
    var(--second)
  );
  padding: 1rem;
}

button {
  border-radius: 20px;
  border: 1px solid var(--background);
  background-color: var(--primaryColor);
  color: var(--white);
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

button:active {
  transform: scale(1.1);
}

button:focus {
  outline: none;
}

/* start main screen  */
#mainBody {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#admin:hover,
#employee:hover {
  transform: scale(1.1);
  background-color: var(--darkPrimary) !important;
  color: var(--background);
}
/* End main screen  */

/* Start dashboard */
.users-table th,
td {
  background-color: var(--primaryColor);
  color: var(--white);
}
.users-table tr:hover > td {
  background-color: var(--white);
  color: var(--third);
}

.nav-item button {
  color: var(--background);
}
.nav-link:active,
.nav-link:focus {
  background-color: #ffffff !important;
  color: var(--primaryColor) !important;
  border-radius: 0rem;
}

.employee-nav {
  background-color: var(--primaryColor);
  border-bottom: 1px solid var(--background);
}

#usernameInput {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  border-radius: 1rem;
}

#usernameInput:hover {
  transform: scale(1.02);
}

#confirmAttendance {
  border-radius: 20px;
  border: 1px solid var(--background);
  background-color: transparent;
  color: var(--white);
  font-weight: bold;
  padding: 12px 45px;
  margin: 1rem 0rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
  width: 100%;
  text-decoration: none;
  text-align: center;
}

#confirmAttendance:enabled:active {
  transform: scale(1.05);
}
#confirmAttendance:hover {
  background-color: var(--primaryColor);
  color: var(--background);
}
#confirmAttendance:disabled {
  cursor: not-allowed;
  background-color: var(--lightPrimary);
}
/* End dashboard */
